apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "34.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    deployment:
      kind: DaemonSet

    service:
      type: NodePort
      ports:
        web:
          nodePort: 30080
        websecure:
          nodePort: 30443
        traefik:
          port: 9000

    ports:
      web:
        port: 8000
        expose:
          default: true
        protocol: TCP
      websecure:
        port: 8443
        expose:
          default: true
        protocol: TCP
      traefik:
        port: 9000
        expose:
          default: false
        protocol: TCP

    ingressClass:
      enabled: true
      isDefaultClass: true
      name: traefik

    providers:
      kubernetesIngress:
        publishedService:
          enabled: true
