apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "34.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    deployment:
      kind: DaemonSet

    service:
      type: NodePort
      ports:
        web:
          nodePort: 30080
        websecure:
          nodePort: 30443

    ports:
      web:
        port: 8000         # internal port (not 80!)
        expose: true
        exposedPort: 80    # public
        protocol: TCP
      websecure:
        port: 8443         # internal port (not 443!)
        expose: true
        exposedPort: 443   # public
        protocol: TCP

    ingressClass:
      enabled: true
      name: traefik

    providers:
      kubernetesIngress:
        publishedService:
          enabled: true
