apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: kube-system
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: "37.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    deployment:
      kind: DaemonSet

    service:
      type: NodePort
      spec:
        externalTrafficPolicy: Cluster

    ports:
      web:
        port: 80
        nodePort: 30080
      websecure:
        port: 443
        nodePort: 30443
