apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "34.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    deployment:
      kind: DaemonSet

    # The service exposes NodePorts 30080/30443
    service:
      type: NodePort
      ports:
        web:
          nodePort: 30080
        websecure:
          nodePort: 30443

    # Traefik must LISTEN on non-privileged ports inside the pod
    ports:
      web:
        port: 8000                # internal Traefik entrypoint
        expose:
          default: true           # required format (NOT boolean)
        protocol: TCP
      websecure:
        port: 8443
        expose:
          default: true
        protocol: TCP

    ingressClass:
      enabled: true
      isDefaultClass: true
      name: traefik

    providers:
      kubernetesIngress:
        publishedService:
          enabled: true
