apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: internal
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: "node-exporter"
        static_configs:
          - targets:
              - node-exporter.internal.svc:9100
