apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    # Public LoadBalancer (Internet)
    service:
      type: LoadBalancer
      loadBalancerIP: "192.168.1.60"

      # Private LoadBalancer for internal-only services
      additionalServices:
        internal:
          type: LoadBalancer
          loadBalancerIP: "192.168.1.61"
          ports:
            - name: dashboard
              port: 80
              targetPort: dashboard
              protocol: TCP

    logs:
      general:
        level: INFO

    ports:
      # Public HTTP entryPoint
      web:
        port: 80
        expose:
          default: true
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true

      # Public HTTPS entryPoint
      websecure:
        port: 443
        tls:
          enabled: true
          certResolver: cloudflare

      # Private dashboard entryPoint (HTTP only)
      dashboard:
        port: 80
        expose:
          default: false
        exposedPort: 80
        protocol: TCP

    # Dashboard
    api:
      dashboard: true
      insecure: true

    # Basic auth for dashboard
    extraObjects:
      - apiVersion: v1
        kind: Secret
        metadata:
          name: dashboard-auth-secret
        type: kubernetes.io/basic-auth
        stringData:
          username: admin
          password: "admin"

      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: dashboard-auth
        spec:
          basicAuth:
            secret: dashboard-auth-secret

    certificatesResolvers:
      cloudflare:
        acme:
          email: "kalpak44@ya.ru"
          storage: "/ssl-certs/acme-cloudflare.json"
          dnsChallenge:
            provider: cloudflare
            resolvers:
              - "1.1.1.1:53"

    env:
      - name: CF_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-credentials
            key: apiKey

    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.lan`)
        entryPoints:
          - dashboard
        middlewares:
          - name: dashboard-auth

    persistence:
      enabled: true
      name: ssl-certs
      size: 1Gi
      accessMode: ReadWriteOnce
      path: /ssl-certs

    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      fsGroup: 65532

    ingressClass:
      enabled: true
      isDefaultClass: true
