apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    additionalArguments:
      - --certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.cloudflare.acme.email=kalpak44@ya.ru
      - --certificatesresolvers.cloudflare.acme.dnschallenge.resolvers=1.1.1.1
      - --certificatesresolvers.cloudflare.acme.storage=/ssl-certs/acme-cloudflare.json

    logs:
      general:
        level: ERROR

    ports:
      web:
        redirectTo:
          port: websecure
      websecure:
        tls:
          enabled: true
          certResolver: cloudflare

    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            key: email
            name: cloudflare-credentials
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            key: apiKey
            name: cloudflare-credentials
      # Ideally use CF_DNS_API_TOKEN instead

    ingressRoute:
      dashboard:
        enabled: false

    persistence:
      enabled: true
      name: ssl-certs
      size: 1Gi
      path: /ssl-certs

    deployment:
      initContainers:
        - name: volume-permissions
          image: busybox:1.31.1
          command: ["sh", "-c", "chmod -R 600 /ssl-certs || true"]
          volumeMounts:
            - name: ssl-certs
              mountPath: /ssl-certs

    ingressClass:
      enabled: true
      isDefaultClass: true
