apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    service:
      type: LoadBalancer
      loadBalancerIP: "192.168.1.60"

  additionalServices:
    internal:
      type: LoadBalancer
      loadBalancerIP: "192.168.1.61"
      ports:
        dashboard:
          port: 9443
          exposedPort: 9443
          protocol: TCP

    additionalArguments:
      - "--entrypoints.dashboard.address=:9443"

    logs:
      general:
        level: INFO
    ports:
      web:
        expose:
          default: true
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true

      websecure:
        tls:
          enabled: true
          certResolver: cloudflare

      dashboard:
        port: 9443
        expose:
          default: false
        exposedPort: 9443
        protocol: TCP

    # Enables the dashboard in Secure Mode
    api:
      dashboard: true
      insecure: true

    # Creates a BasiAuth Middleware for the Dashboard Security
    extraObjects:
      - apiVersion: v1
        kind: Secret
        metadata:
          name: dashboard-auth-secret
        type: kubernetes.io/basic-auth
        stringData:
          username: admin
          password: "admin"
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: dashboard-auth
        spec:
          basicAuth:
            secret: dashboard-auth-secret

    certificatesResolvers:
      cloudflare:
        acme:
          email: "kalpak44@ya.ru"
          storage: "/ssl-certs/acme-cloudflare.json"
          dnsChallenge:
            provider: cloudflare
            resolvers:
              - "1.1.1.1:53"

    env:
      - name: CF_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-credentials
            key: apiKey

    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.pavel-usanli.online`)
        entryPoints:
          - dashboard
        middlewares:
          - name: dashboard-auth

    persistence:
      enabled: true
      name: ssl-certs
      size: 1Gi
      accessMode: ReadWriteOnce
      path: /ssl-certs

    # IMPORTANT: rootless permission fix
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      fsGroup: 65532

    ingressClass:
      enabled: true
      isDefaultClass: true
