apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik-crds
      version: ">=1.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik-crds
        namespace: flux-system
