apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    service:
      type: LoadBalancer
      loadBalancerIP: "192.168.1.50"

    logs:
      general:
        level: INFO
    ports:
      web:
        expose:
          default: true
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true

      websecure:
        tls:
          enabled: true
          certResolver: cloudflare

    certificatesResolvers:
      cloudflare:
        acme:
          email: "kalpak44@ya.ru"
          storage: "/ssl-certs/acme-cloudflare.json"
          dnsChallenge:
            provider: cloudflare
            resolvers:
              - "1.1.1.1:53"

    env:
      - name: CF_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-credentials
            key: apiKey

    ingressRoute:
      dashboard:
        enabled: false

    persistence:
      enabled: true
      name: ssl-certs
      size: 1Gi
      accessMode: ReadWriteOnce
      path: /ssl-certs

    # IMPORTANT: rootless permission fix
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      fsGroup: 65532

    ingressClass:
      enabled: true
      isDefaultClass: true
