apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  values:
    service:
      type: LoadBalancer
      loadBalancerIP: "192.168.1.150"
      single: true

    ports:
      web:
        port: 8000
        expose:
          default: true
        exposedPort: 80
        protocol: TCP

      websecure:
        port: 8443
        expose:
          default: true
        exposedPort: 443
        protocol: TCP
        tls:
          enabled: true

    additionalArguments:
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.cloudflare.acme.email=kalpak44@ya.ru"
      - "--certificatesresolvers.cloudflare.acme.storage=/data/acme.json"

    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-dns
            key: CF_API_TOKEN

    persistence:
      enabled: true
      path: /data
      size: 1Gi
      accessMode: ReadWriteOnce
