apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: ">=25.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    # Enable automatic Let's Encrypt using Cloudflare
    additionalArguments:
      - "--certificatesresolvers.cloudflare.acme.tlschallenge=false"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.cloudflare.acme.email=kalpak44@ya.ru"
      - "--certificatesresolvers.cloudflare.acme.storage=/acme.json"

    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-dns
            key: CF_API_TOKEN

    ports:
      web:
        redirectTo: websecure
      websecure:
        tls:
          enabled: true

    service:
      type: LoadBalancer
